<article class="project">
	<%= image_tag "headings/vr.png", class: "chapterHeading" %>
	<h2>Virtual Reality</h3>
	<div class="row">
		<div class="col-lg-6">
			<a href="wand_training">
				<%= image_tag "content/wand_training_preview.jpg", class: "preview" %>
				<p class="label">
					Wand Training
				</p>
			</a>
		</div>
		<div class="col-lg-6">
			<a href="webcam_sculpt">
				<%= image_tag "content/webcam_cubes_preview.jpg", class: "preview" %>
				<p class="label">
					Webcam Sculpting
				</p>
			</a>
		</div>
	</div>
</article>