<article class="contact" class="container">
	<h2>Your Name</h2>
	<p>
		<div class="row">
			<div class="col-lg-6 contact">
				stuff about you
			</div>
			<div class="col-lg-6 contact">
				more stuff about you. 
			</div>
		</div>
	</p>
	</p>
</article>