development:
  AUTH_TOKEN: '$2a$10$JZ2FyzbMx4tN7nO..9wUj.HtJXx8RrHdd5qNB/qI6dNn2RPf9cj3.'
  SALT: 'why???_are???_you???_so???_salty???'
production:
  AUTH_TOKEN: '$2a$10$JZ2FyzbMx4tN7nO..9wUj.HtJXx8RrHdd5qNB/qI6dNn2RPf9cj3.'
  SALT: 'why???_are???_you???_so???_salty???'