development:
  AUTH_TOKEN: '$2a$10$JZ2FyzbMx4tN7nO..9wUj.HtJXx8RrHdd5qNB/qI6dNn2RPf9cj3.'
  SALT: 'why???_are???_you???_so???_salty???'
production:
  AUTH_TOKEN: '$2a$10$JZ2FyzbMx4tN7nO..9wUj.HtJXx8RrHdd5qNB/qI6dNn2RPf9cj3.'
  SALT: 'why???_are???_you???_so???_salty???'
test:
  AUTH_TOKEN: '$2a$10$fBP0PYWlg6F.96gXmJq26.PFPINr25yezp7wbrKiNC10t7uQ2EyC2'
  SALT: 'why???_are???_you???_so???_salty???'