<h1>Uploading an Image</h1>
<form id="upload_image" action="/uploader/image" enctype="multipart/form-data" >
	<input type="file" name="image" id="choose_image" />
	<img id="image_preview" style="max-width: 150px;" />
	<div id="images">
	</div>
	<div id="response"></div>
	<input type="text" name="name" />
	<br />
	<br>
	<input id="confirm_image" type="submit" />

</form>
