<article class="project">
	<%= image_tag "headings/nums.png", class: "chapterHeading" %>
	<h2>Nothing Up My Sleeve</h2>
	<h4>An Augmented Magic Show</h4>
	<p>I've spent a fair amount of time making tools for performance driven animation. I wanted to create a show based on 'Improv, audience interaction, and tech.' at <a href="http://dadschicago.com">D.A.D.S.</a>
	</p>
	<div class="row">
		<div class="col-lg-6">
			<%= image_tag "content/nums_lyra.jpg", class: "preview large-only" %>
		</div>
		<div class="col-lg-6">
			<%= image_tag "content/nums_crowd.jpg", class: "preview" %>
		</div>
	</div>
	<p>I had an amazing time collaborating with Lyra Hill, who has spent years building up a cult following out of curation of some of the best performance shows that Chicago has ever seen. If you're unfamiliar, stop what you're doing and check out the impeccable documented <a href="http://brainframe.tumblr.com/">Brain Frame</a>. Vincent Naples also came through at the last minute with heavy lifting equipment and expertise. The theme we decided for this art &amp; tech show was 'an augmented magic show', which would come to feature projection mapping, VR, mixed reality, live photoshopping, sound responsive animation, and kinect body tracking for a vaudvillian good time.</p>
	<a href="/experiments/facetracking" />expeiments</a>
	<a href="/blog/2016_12_10_nums/">Read More</a>
</article>