<div id="sky" class="noClick"></div>
<div id="hills" class="noClick"></div>
<div id="bottom_left" class="noClick"></div>
<div id="right" class="noClick"></div>
<div id="top_left" class="noClick"></div>
<div id="top_right" class="noClick"></div>
<div id="bottom_right" class="noClick"></div>